
/* divshot css */

body {
  padding-top: 20px;
}
.footer {
  border-top: 1px solid #eeeeee;
  margin-top: 40px;
  padding-top: 40px;
  padding-bottom: 40px;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  background-color: transparent;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}
/* Customize the nav-justified links to be fill the entire space of the .navbar */
.nav-justified {
  border-radius: 5px;
  border: 1px solid #cccccc;
}
.nav-justified > li > a {
  padding-top: 15px;
  padding-bottom: 15px;
  color: #fefefe;
  font-weight: bold;
  text-align: center;
  border-bottom: 1px solid #d5d5d5;
  background-color: #493F50; /*8C1F4E 4D112B*/
}

@media (max-width: 76rem) {
  .nav-justified > li > a {
    margin-bottom: 0;
  }
}

.nav-justified > .active > a, .nav-justified > .active > a:hover, .nav-justified > .active > a:focus,
.nav > li > a:hover {
  background-color: #A08AAF;
  background-image: none;
}
.nav-justified > .active > a, .nav-justified > .active > a:hover, .nav-justified > .active > a:focus {
  box-shadow: inset 0 3px 7px rgba(0, 0, 0, 0.25);
}
.nav-justified > li:first-child > a {
  border-radius: 5px 5px 0 0;
}
.nav-justified > li:last-child > a {
  border-bottom: 0;
  border-radius: 0 0 5px 5px;
}
@media(min-width: 768px) {
  .nav-justified {
    max-height: 52px;
  }
  .nav-justified > li > a {
    border-left: 1px solid #ffffff;
    border-right: 1px solid #D5D5D5;
  }
  .nav-justified > li:first-child > a {
    border-left: 0;
    border-radius: 5px 0 0 5px;
  }
  .nav-justified > li:last-child > a {
    border-radius: 0 5px 5px 0;
    border-right: 0;
  }
}
/* Responsive: Portrait tablets and up */
@media screen and(min-width: 768px) {
  /* Remove the padding we set earlier */
  .masthead, .marketing, .footer {
    padding-left: 0;
    padding-right: 0;
  }
}


/* my css */
.btn--vino {
  background-color: #493F50;
  border-color: #BEA4D0;
}
.btn--vino:hover {
  background-color: #A08AAF;
  border-color: #493F50;
}

/***********************************************/
/* google fonts */
/* font-family: 'Raleway', sans-serif; */
/* font-family: 'Dancing Script', cursive; */
/**** OLD ****/
/* font-family: 'League Script', cursive; */
/* font-family: 'Pinyon Script', cursive; */
/***********************************************/


html, body, div, h1, h2, h3, h4, h5, h6, p, span, ul, li {
  font-family: 'Raleway', sans-serif;
}

img {
  width: 95%;
}

@media (min-width: 76rem) {
  img {
    width: 75%;
  }
}

strong {
  font-family: 'Dancing Script', cursive;
  font-size: 2.5rem;
  font-weight: 400;
}
strong > h1 {
  font-family: 'Dancing Script', cursive;
  font-size: 5rem;
  font-weight: 400;
}

@media (min-width: 76rem) {
  strong > h1 {
    font-size: 9rem;
  }
}

i.fa.fa-glass {
  margin-right: 10px;
}

.contact_page {
  font-size: 2rem;
}

.page--wines .wine-list img {
  width: 25px;
  height: 25px;
  margin-top: -11px;
}

.page--contact input,
.page--contact button {
  width: 80%;
}

.icon {
  width: 32px;
  height: 32px;
}

iframe {
  width: 95%;
}
